/* Streamlit class name of the div that holds the expander's title*/
.eqpbllx1 p {
   font-weight: 400;
   font-size: 16px;
   }

.header {
color: #1E90FF;
font-size: 24px;
font-weight: bold;
margin-bottom: 10px;
text-align: center;
}

table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f0f7ff;
    color: black;
    font-weight: bold;
    width: 1%;
    white-space: nowrap;
}
td {
    width: auto;
}

.table-wrapper-75 {
    width: 75%;
    margin: 0 auto;
    overflow-x: auto;
}

.table-wrapper-full {
    width: 100%;
    margin: 0 auto;
    overflow-x: auto;
}

.stTabs {
    padding-top: 30px;
}

.stTabs [data-baseweb = "tab-list"] button [data-testid = "stMarkdownContainer"] p {
    font-weight: 400;
    font-size: 17px;
}

.stTabs [data-baseweb = "tab"] {
    height: 30px;
}

div[data-testid="stRadio"] > label > div[data-testid="stMarkdownContainer"] > p {
        font-size: 16px;
    }
    
div[data-testid="stNumberInput"] > label > div[data-testid="stMarkdownContainer"] > p {
/*div > div > label {--->*/
        font-size: 16px;
    }
    
div[data-testid="stDateInput"] > label > div[data-testid="stMarkdownContainer"] > p {
        font-size: 16px;
    }
    
div[data-testid="stTextInput"] > label > div[data-testid="stMarkdownContainer"] > p {
        font-size: 16px;
    }
    
@media screen and (max-width: 768px) {
    .styled-table {
        font-size: 12px; /* Smaller font size for mobile */
    }

    .styled-table th,
    .styled-table td {
        padding: 6px 8px; /* Reduced padding for mobile */
    }

    .styled-table th {
        font-weight: 600; /* Slightly less bold headers for mobile */
    }

    .styled-table td {
        font-weight: 400; /* Normal weight for table data on mobile */
    }

    /* Adjust the table wrapper for full width on mobile */
    .table-wrapper-full {
        width: 100%;
        overflow-x: auto;
    }
}